<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.firebaseauthenticationandstoragetest">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ChangePasswordActivity"></activity>
        <activity
            android:name=".UsersProfileActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".ChatActivity"
            android:parentActivityName=".HomeActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".HomeActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".SignUpActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName=".LoginActivity" />
        <activity android:name=".LoginActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".Notifications.FirebaseService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_SERVICE" />
            </intent-filter>
        </service>
        <service
            android:name=".Notifications.FirebaseMessaging"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>